{% extends "layout.html" %}
{% block title %}Calculator{% endblock %}

{% block content %}
    <div class="jumbotron bg-secondary text-light">
        <h1 class="display-4">Calculator</h1>
        <p class="lead">A basic calculator application</p>
    </div>

        <div class = "container">
            <div class="form_collect mt-3 mb-5" id="calculator_form">
                <h3 class="mb-3 mt-3">Calculate</h3>
                <form action="" method = "post">
                    {{ form.hidden_tag()}}
                    <div class="form-group row">
                        <label class="col-6 col-sm-4 col-md-2">{{form.input1.label}}</label>
                        <div class = "col-6 col-sm-8 col-md-6 col-xl-2">
                            {{form.input1()}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input2" class="col-6 col-sm-4 col-md-2">{{form.input2.label}}</label>
                        <div class = "col-6 col-sm-8 col-md-6 col-xl-2">
                            {{form.input2()}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="operation" class="col-6 col-sm-4 col-md-2">{{form.operation.label}}</label>
                        <div class = "col-6 col-sm-8 col-md-6 col-xl-2">
                            {{form.operation()}}
                        </div>
                    </div>
                    <div class = "form_group">
                        {{form.submit}}
                    </div>
                </form>
            </div>
        

        {% if calculation_success == True %}
            <h2>Calculation result:</h2>
            <h3 class = "mb-3">{{input1}} {{operation}} {{input2}} = {{result}} </h3>
        {% elif calculation_success == False %}
            <div class = "alert alert-danger mb-3">
                <h3 class ="alert heading">{{error}}</h3>
                <h4 class ="ml-3">Attempted calculation: {{input1}} {{operation}} {{input2}}</h4>
            </div>
        {% endif %}

    </div>

{% endblock %}