{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron bg-primary text-light">
        <h1 class="display-4">Restaurant suggestor</h1>
        <p class="lead">Eneter a city and find restaurant suggestions</p>
    </div>

    <div class="container">
        <div class="row form-container">
          <div class="col-md-10 col-lg-8 col-xl-6">
            <form action={{ url_for("food.get_places") }} method="POST">
              <div class="form-group">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Type a city"
                    name="city"
                    id="city"
                    aria-label="Type a city"
                    aria-describedby="submit"
                    required
                  />
  
                  <div class="input-group-append">
                    <button
                      class="btn btn-primary"
                      type="submit"
                    >
                      Find restaurants
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class ="alter-heading">{{ error }}</h4>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
            {% else %}
                {% for restaurant in restaurants %}
                <div class = "col-12 col-sm-6 col-lg-4 mb-3">
                    <div class = "card h-100">
                        <img src="{{ restaurant.image_url }}" class="card-img-top" alt="restaurant image">
                        <div class = "card-body">
                            <h5 class = "card-title">
                                <a href="{{restaurant.url}}">
                                    {{restaurant.name}}
                                </a>
                            </h5>
                            <h6 class = "card-subtitle text-muted mb-2">
                                {% if restaurant.price %}
                                    Price: {{restaurant.price}} </br>
                                {% else %}
                                    Price: N/A </br>
                                {% endif %}
                                Rating: {{restaurant.rating}}
                            </h6>
                            <p>
                                {{restaurant.location.address1}}</br>
                                {{restaurant.location.city}}</br>
                                {{restaurant.location.zip_code}}</br>
                            </p>
                        </div>
                        <div class = "card-footer">
                            <p><b>Contact: {{restaurant.display_phone}}</b></p>
                        </div>
                    </div>
                </div>

                {% endfor %}
            {% endif %}
            

        </div>
    </div>


{% endblock %}