{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron bg-primary text-light">
        <h1 class="display-4">Flask apps</h1>
        <p class="lead">Click on a flask app button to get started</p>
    </div>

    <div class="container">
        <h3 class="mb-3">Single page apps</h3>
        <div class = "row">
            <div class = "col-3 mb-5">
                <a class = "btn btn-outline-secondary btn-lg" href="todo">To Do App</a>
            </div>
            <div class = "col-3 mb-5">
                <a class = "btn btn-outline-secondary btn-lg" href="calculator">Calculator</a>
            </div>
        </div>
        
        <h3 class="mb-3">Apps using an API</h3>
        <div class="row">
            <div class = "col-3 mb-5">
                <a class = "btn btn-outline-secondary btn-lg" href="food">Restaurant recommendations</a>
            </div>
        </div>
    </div>
{% endblock %}